.header
  nav.navbar.navbar-expand-md
    .container
      a.navbar-brand(href="/") 
        strong FLY UP
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          if (!currentUser)
            li.nav-item
              a.nav-link(href="/signin") 
                strong 로그인
            li.nav-item
              a.nav-link(href="/users/new") 
                strong 회원가입
          else
            li.nav-item
              a.nav-link(href="/signout") 
                strong 로그아웃
            li.nav-item
              a.nav-link(href="#") 
                strong 마이페이지
  div.down-nav
    ul
      li
        a(href="#")
          strong 여행상품 
            