extends layout

block content

  section.jumbotron.text-center
    div.container
      h1.jumbotron-heading 
        strong 어디로 떠나세요?
      div.d-flex.justify-content-center
        input.form-control(type="text" placeholder="여행지나 상품을 검색해보세요!")

  div.album.py-5
    div.container
      div.row
        div.col-md-4
          //- div.card.mb-4.shadow-sm
          //-   svg.bd-placeholder-img.card-img-top(width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail")
          //-    div.card-body
          //-     p.card-text
          //-       |제목: 
          //-     div.d-flex.justify-content-between-align-items-center
          //-       |가격: 
