extends layout

block content

  section.jumbotron.text-center
    div.container
      h1.jumbotron-heading 
        strong 어디로 떠나세요?
      div.d-flex.justify-content-center
        input.form-control(type="text" placeholder="여행지나 상품을 검색해보세요!")
