extends layout

block content

  section.jumbotron.text-center
    div.container
      h1.jumbotron-heading 
        strong 어디로 떠나세요?
      div.d-flex.justify-content-center
        form.form-inline.search-input-group(action='/search', method='GET')
          input.form-control(type='text', name='term', placeholder='여행지나 상품을 검색해보세요!', aria-label='Search', value=term)

  div.album.py-5
    h4.recommend-item
      strong 추천상품 
    hr
    div.container.recommend-item-form
      .items
        .container
          .row.row-cols-1.row-cols-md-2  
            - var cnt = 0;
            each item in items.docs
              if(cnt == 4)
                - break
              .col.mb-4
                .card
                  .card-body
                    a.card-text.item_title(href=`/items/${item.id}`)= item.title
                    hr
                    .d-flex.justify-content-between.align-items-center
                      .price
                        |가격 : #{item.price}
                      small.text-muted 조회수: #{item.view}
              - cnt += 1;
