extends ../layout

block content
  br
  div.selectbox
    select.custom-select
      option.selected(value="view") 인기순
      option(value="review") 후기순
      option(value="price") 가격순
      option(value="new") 신상품순

  //- if items.total > 0
  //-   .small Total #{items.total} items(s)
  br
  br
  if items.total <= 0
    .alert.alert-info No posts 
  else
    .items
      .container
        .row.row-cols-1.row-cols-md-2  
          each item in items.docs
            .col.mb-4
              .card
                img.card-img-top(src="#")
                .card-body
                  a.card-text.item_title(href=`/items/${item.id}`)= item.title 
                  .d-flex.justify-content-between.align-items-center
                    .price
                      |가격 : #{item.price}
                    small.text-muted 조회수: #{item.view}

