extends ../layout

block content
  br
  div.selectbox
    select.custom-select(onchange="window.open(value, '_self');")
      option.selected(value="/items/new") 신상품순
      option(value="/items") 인기순
      option(value="/items/price") 가격순

  br
  br
  if items.total <= 0
    .alert.alert-info No posts 
  else
    .items
      .container
        .row.row-cols-1.row-cols-md-3 
          each item in items.docs
            .col.mb-4
              .card
                .card-body
                  a.card-text.item_title(href=`/items/${item.id}`)= item.title 
                  hr
                  .d-flex.justify-content-between.align-items-center
                    .price
                      |가격 : #{item.price}
                    small.text-muted 조회수: #{item.view}
