extends ../layout

block content
  h3
    strong 여행 상품

  if items.total > 0
    .small Total #{items.total} items(s)

  if items.total <= 0
    .alert.alert-info No posts 
  else
    .items
      .container
        .row  
          .col-md-4
            each item in items.docs
              .card.mb-4.shadow-sm
                svg.bd-placeholder-img.card-img-top(width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail")
                  title Placeholder
                  rect(width="100%" height="100%" fill="#55595c")
                  text(x="50%" y="50%" fill="#eceeef" dy=".3em") 사진
                .card-body
                  a.card-text.item_title(href=`/items/${item.id}`)= item.title 
                  .d-flex.justify-content-between.align-items-center
                    .price
                      |가격 : #{item.price}
                    small.text-muted 9 mins

