extends ../layout

block content
  div.container
    br
    div.registration-title.text-center
      h4 
        strong 상품등록창

    div.registration-form
      form.form-horizontal(action="/items", method="POST")
        div.form-group.form-inline
          label.col-sm-2.control-label(for="title") 제목
          div.col-sm-10
            input.form-control(type="text", id="title", name="title" )
        div.form-group.form-inline
          label.col-sm-2.control-label(for="price") 1인당 가격
          div.col-sm-10
            input.form-control(type="text", id="price", name="price")
        div.form-group.form-inline
          label.col-sm-2.control-label(for="max_num") 최대인원
          div.col-sm-10
            input.form-control(type="text", id="max-num", name="max_num")
        div.form-group.form-inline
          label.col-sm-2.control-label(for="place") 여행지
          div.col-sm-10
            input.form-control(type="text", id="place", name="place", placeholder="'국가>도시' 형태로 입력해주세요.")
        div.form-group.form-inline
          label.col-sm-2.control-label(for="d_date") 출발 날짜
          div.col-sm-10
            input.form-control(type="date", id="d_date", name="d_date", max="9999-12-31")
        div.form-group.form-inline
          label.col-sm-2.control-label(for="a_date") 도착 날짜
          div.col-sm-10
            input.form-control(type="date", id="a_date", name="a_date", max="9999-12-31")
        div.form-group.form-inline
          label.col-sm-2.control-label(for="i_info") 상품정보글
          div.col-sm-10
            textarea.form-control.ta(id="i_info", name="i_info")
        div(id="room_type")
          input.btn.btn-primary.edit(type="button" value="-" onclick="remove_div(this)")    
          input.btn.btn-primary.edit(type="button" value="+" onclick="add_div()")
          div.form-group.form-inline
            label.col-sm-2.control-label(for="c_info") 코스정보글
            div.col-sm-10 
              textarea.form-control.ta(id="c_info", name="c_info")
        div(id="field")
        
        br
        div.registration-btn
          button.btn.btn-primary(type="submit") 등록하기
