extends ../layout

block content

  div.signup-entire
    br
    div.signup-title.text-center
      h4 
        strong 회원가입 

    div.signup-form
      form
        div
          label(for="name") 이름
          input.form-control(type="text" placeholder="이름")
        div
          label(for="id") 아이디
          input.form-control(type="text" placeholder="아이디")
        div
          label(for="pwd") 비밀번호
          input.form-control(type="password" placeholder="비밀번호")
        div
          label(for="check_pwd") 비밀번호 확인
          input.form-control(type="password" placeholder="비밀번호 확인")
        
        br
        div.signup-button
          button.btn.btn-primary(type="submit") SIGNUP