extends ../layout

block content
  div.container
    br
    div.user-page-title.text-center
      h4 
        strong 프로필 관리
        
    div.user-page-form
      div.form-group
        strong 이름: #{user.name}
      div.form-group
        strong 아이디: #{user.id}
      div.form-group
        strong 비밀번호: ********

      div.form-group
        u
          a.guide-signup(href="#") 
            strong 가이드 등록하기
    br
    div.user-page-btn
      a.btn.btn-lg.btn-primary(href=`/users/${user._id}/edit`)
        strong 수정
      a.btn.btn-secondary.btn-lg(href=`/users/${user._id}?_method=DELETE`)
        strong 회원탈퇴


